<header>
  <h1>Eau Claire's Salon</h1>
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <li>@Html.ActionLink("Add new appointment", "Create", "Appointments")</li>
  </ul>
</header>